.related-posts {
    border-top: 2px solid #eee;
    padding-top: 40px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.marged-bottom {
    margin-bottom: 50px;
}

.title1 {
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.title2 {
  margin-bottom: 40px;
  color: #f7b864;
  font-size: 24px;
  text-align: center;
}

.footerfix {
  height: 82vh;
}

.titlesHP {
  color: #f4a140;
}
