.related-posts {
  border-top: 2px solid #eee;
  padding-top: 40px;
  padding-bottom: 32px;
}

.marged-bottom {
  margin-bottom: 50px;
}

.title1 {
  margin-top: 20px;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 24px;
}

.title2 {
  margin-bottom: 40px;
  color: #f7b864;
  font-size: 24px;
  text-align: center;
}

.footerfix {
  height: 82vh;
}

.titlesHP {
  color: #f4a140;
}
.h500 {
  height: 500px;
}
// .HPparagraph{
//   font-family: 'Source Sans Pro', sans-serif;
//   color: red;
//   font-size: 20px;
// }

.title1-carousel {
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%,rgba(51, 51, 51, 0.21) 50%, rgba(51, 51, 51, 0) 100%);
}

.org-banner-title {
  padding-bottom: 185px;
}

