.banner-all {
  width: 100%;
  height: 400px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-family: 'Chalk';
    font-size: 80px;
    text-align: center;
    font-weight: bold;
  }
  p {
    color: white;
  }
}

.divider {
  text-align: center;
  margin-top: 50px;
}

.banner-dashboard {
  width: 100%;
  height: 300px;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: white;

    font-size: 60px;
  }
  p {
    color: white;
  }
}
