.banner {
  height: 100vh;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-family: 'Chalk';
    font-size: 80px;
    text-align: center;
    font-weight: bold;
  }
  p {
    color: white;
  }
}

.my-searchbar {
  font-size: 19px;
  background-color: #ababab36;
  width: 500px;
  height: 45px;
  border-radius: 28px;
  margin-top: 15px;
  text-align: center;
  border: 1px solid #a7a7a7;
}

.fa-search {
  color: white;
}

input:placeholder {
    font-size: 20 px;
    color: black;
  }


// .bannercarousel {
//   height: 75vh !important;
//   background-size: cover;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   h1 {
//     color: white;
//     font-family: 'Chalk';
//     font-size: 80px;
//     text-align: center;
//     font-weight: bold;
//   }
// }
#carouselExampleSlidesOnly{
  .carousel-item{
    height: 60vh !important;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: white;
      font-family: 'Chalk';
      font-size: 80px;
      text-align: center;
      font-weight: bold;
    }
  }
  .carousel-caption{
    bottom: unset !important;
  }
}
// comment changer la couleur de la font du placeholder?
