.cg-btn {
  width: 100%;
  margin-bottom: 20px;
  background-color: #f8b864;
  border-color: #f8b864;
  color: white;
}

.thin-btn {
  color: #f8b864;
  border: 2px solid #f8b864;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.6;
}

.thin-btn:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: #f8b864;
}

.btn-container {
  margin-top: 30px;
  text-align: center;
}

.modal-title {
  font-family: 'Chalk';
}

.btn-primary {
  background-color: #f8b864;
  opacity: 0.6;
  border-color: #f8b864;
}

.btn-primary:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: #f8b864;
  border-color: #f8b864;
}
// .apply-btn {
//   color: white;
//   border: 2px solid;
//   background-color: #57ad68;
//   border-color: #57ad68;
//   padding: 10px 15px;
//   border-radius: 50px;
//   font-weight: bold;
//   font-size: 12px;
//   opacity: 0.9;
//   position: absolute;
//   bottom: 15px;
//   right: 10px;
//   z-index: 7;
//   text-decoration: none;
// }



