.urgent-cards {
  margin-top: 80px;
}

.card-homepage {
  height: 250px;
  width: 350px;
  position: relative;
}

.card-homepage-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card-info {
  height: 150px;
  width: 350px;
  border: 1px solid black;
}
