.card-homepage {
  margin-top: 30px;
  height: 225px;
  width: 350px;
  border-radius: 1px;
  margin-top: 30px;
  background-size: cover;
}

.card-info {
  height: 100px;
  width: 350px;
  border-radius: 3px;
  margin-bottom: 50px;
  border-left: 1px solid #CECFC7;
  border-right: 1px solid #CECFC7;
  border-bottom: 1px solid #CECFC7;

  .texthome {
    margin-top: none;
    margin-left: 15px;
  }

  a {
    text-decoration: none;
    color: #f8b864;
    font-family: "Raleway", "Helvetica", "sans-serif";
    font-weight: bold;
  }
}
