.urgent, .trustyworth, .recent {
  padding: 80px !important;
}

.card-homepage {
  height: 225px;
  width: 100%;
  border-radius: 1px;
  background-size: cover;
}

.card-info {
  background-color: white;
  height: 120px;
  border-radius: 3px;
  margin-bottom: 50px;
  .texthome {
    margin-top: none;
    padding-left: 10px;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
}

.c-description {
  p {
    font-size: 14px;
  }
}
