.body {
  background-color: #E5E5E5;
}

.dashboard {
  font-family: $body-font !important;
  margin-top: 70px;
  h1, h2, h3 {
    color: #F4A140;
  }
  h3 {
    margin-top: 30px;
    font-size: 24px;
  }
}

.dashboard-list {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  h3 {
    font-weight: 400;
    font-size: 22px;
  }
}

.status {
  display: flex;
  // align-items: center;
  // justify-content: space-around;
  // width: 240px;
  // height: 190px;
  // border-radius: 3px;
  h2 {
    text-decoration: underline;
    color: #FDB631;
  }
}

.dashboard-infos {
  width: 85%;
}

.clickable-list {
  text-decoration: none;
  color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  margin: 2px;
  #title {
    color: black;
  }
  #status {
    color: $orange;
  }
  &:hover {
    background: #f1f1f1;
  }
}

.list-items {
  border: 1px solid #f1f1f1;
  margin: 10px;
  border-radius: 4px;
  // box-shadow: 5px 5px 5px 0px #C4C6C6;
  img {
    height: 120px;
    width: 200px;
    border-radius: 4px;
  }
}

.list-items-details {
  display: flex;
  justify-content: space-around;
  p {
    color: gray;
  }
}

.list-items:hover .list-items-upvote {
  font-size: 27px;
}

.list-items-upvote {
  font-size: 20px;
  transition: all 0.3s ease;
  p {
    opacity: 0;
  }
}

.list-items-description {
  flex: 1 0 auto;
  padding: 20px;
}

.list-items-controls {
  a {
    font-size: 15px;
    color: #CCCCCC;
  }
}

.status {
  p {
    color: #ea825e;
  }
}
