.missioncard {
  margin: 5px;
  height: 130px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: #f4a140;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 2px;
}
.missioncard-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.missioncard-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.missioncard-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.missioncard-description h2 {
  font-size: 30px;
}
.missioncard-description p {
  font-size: 20px;
  opacity: 0.7;
  font-weight: lighter;
}
.missioncard-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.missioncard-organization {
  font-family: arial;
  font-size: 14px;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.missioncard-btn {
  // height: 30px;
  // width: 250px;
  // margin-bottom: 20px;
  // background-color: #57ad68;
  // border-color: #57ad68;
  // color: white;
  // border: 2px solid #57ad68;
  // padding: 10px 15px;
  border-radius: 50px;
  // font-weight: bold;
  // font-size: 10px;
  // text-align: center;
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 7;
}


//  .missioncard-btn:hover {
//   opacity: 1;
//   text-decoration: none;
//   color: white;
//   background-color: #57ad68;
// }

