/* Main navbar */
.navbar-cg {
  border-top: 5px solid orange;
  background-color: transparent;
  transition: all 0.5s ease;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100 !important;
}

.navbar-cg-white {
  background-color: $gray;
}

/* Logo */
.navbar-cg-brand img {
  height: 60px;
  margin-left: 67px;
}

/* User Avatar */
.navbar-cg .avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 40px;
}

/* Right section */
.navbar-cg-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-cg-item {
  cursor: pointer;
  padding: 0 20px;
  font-family: 'Source Sans Pro';
}

/* Navbar link */
.navbar-cg-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: -10px;
  font-family: 'Source Sans Pro';
    p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.navbar-cg-link:hover {
  color: #f4a140;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-cg-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-cg-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-cg-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-cg-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
