.main-container {
  display: flex;
  margin: 10px;
}
#main-container {
  display: flex;
}
#map {
  height: 400px;
  width: 100%;
  margin-top: 25px;
  margin-right: 25px;
}
#cards {
  flex: 0 0 50%;
  margin: 0px 33px;
  padding: 0px 140px;
}
.description {
  margin-top: 30px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
  p {
    margin-top: 20px;
    font-size: 22px;
    color: #333333;
    font-family: 'Source Sans Pro';
  }
}

#style-date {
  color: gray;
  font-size: 20px;
}

.organization {
  margin-top: 30px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
}

.organization p {
  margin-top: 20px;
  font-size: 24px;
  color: #333333;
  font-family: 'Source Sans Pro';
  text-decoration: none;
}

.languages {
  margin-top: 30px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
}

.languages p {
  margin-top: 20px;
  font-size: 24px;
  color: #333333;
  font-family: 'Source Sans Pro';
}

.skills {
  margin-top: 30px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
}

.skills p {
  margin-top: 20px;
  font-size: 24px;
  color: #333333;
  font-family: 'Source Sans Pro';
}

.volunteers {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
  text-align: center;
}

.staff {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 32px;
  color: #F4A140;
  font-family: 'Chalk';
  text-align: center;
}

.rowshow {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 80px;
  margin-top: -55px;
}

.rvw {
    font-size: 32px;
    color: #F4A140;
    font-family: 'Chalk';
    margin-top: 27px;
  }

.linkorg{
  color: #333333;
  border-radius: 5px;
}
