p* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 40px 5%;
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    & {
      flex-wrap: wrap;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: top;
  text-align: center;
  flex-direction: column;
  padding: 20px;
    p {
  font-size: 20px;
  line-height: 20px;
  max-width: 80%;
  margin: 20px auto;
  }
}

.descriptioncolumn {
  width: 60%;
}

figure {
  img {
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,.2);
  }
  figcaption {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
  }
}


.message-body p{
  font-size: 14px;
  }

.message-name p{
font-size: 14px;
}

a {
  color: currentColor;
}

#finn {
  background: #fff;
  color: #333333
}

#jake {
  background: #fff;
  color: #333333;
  width: 70%;
}
