.main-container {
  display: flex;
  margin: 10px;
}
#main-container {
  display: flex;
}
#map {
  height: 400px;
  width: 100%;
  margin-top: 25px;
  margin-right: 25px;
}
#cards {
  flex: 0 0 50%;
  margin: 0px 33px;
  padding: 0px 140px;
}
.description {
  margin-top: 30px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.organization {
  margin-top: 200px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.languages {
  margin-top: 30px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.skills {
  margin-top: 80px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.volunteers {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.staff {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.rowshow {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-left: 30px;
}

.rvw {
    margin-top: 10px;
    font-size: 24px;
    color: #F4A140;
    font-family: 'Chalk';
  }
