.main-container {
  display: flex;
  margin: 10px;
}
#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: !important;
}

.description {
  margin-top: 30px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.organization {
  margin-top: 200px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.languages {
  margin-top: 30px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.skills {
  margin-top: 80px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.volunteers {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.staff {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #F4A140;
  font-family: 'Chalk';
}

.rowshow {
  display: flex;
  justify-content: space-between;
  margin-right: 300px;
  margin-left: 30px;
}

.rvw {
    margin-top: 10px;
    font-size: 24px;
    color: #F4A140;
    font-family: 'Chalk';
  }
