#sidebar {
    width: 650px;
    position: fixed;
    top: 70px;
    left: -650px;
    height: 100vh;
    z-index: 999;
    background: #f4a140;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #f4a140;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    top: 150px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 0.5;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #f4a140;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #f4a140;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.bg-light {
  background-color: #fff !important;
}

.btn-info {
  background-color: #f4a140 !important;
  border-color: #f4a140 !important;
  margin-left: 35px;
}

.costs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-cost {
  background-color: #000 !important;
  border-color: #f4a140 !important;
  width: 30%;
  margin: 5px;
}

.btn-country {
  background-color: #235e98 !important;
  border-color: #f4a140 !important;
  width: 22.2%;
  margin: 5px;
}

.great_for {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-great_for {
  background-color: #372539 !important;
  border-color: #f4a140 !important;
  width: 30.2%;
  margin: 5px;
}

.sector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-sector {
  background-color: #682274 !important;
  border-color: #f4a140 !important;
  width: 30.2%;
  margin: 5px;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-language {
  background-color: #982274 !important;
  border-color: #f4a140 !important;
  width: 30.2%;
  margin: 5px;
}

.safety {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-safety {
  background-color: #782274 !important;
  border-color: #f4a140 !important;
  width: 22.2%;
  margin: 5px;
}

.climate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-climate {
  background-color: #182274 !important;
  border-color: #f4a140 !important;
  width: 17.5%;
  margin: 5px;
}
