.wrapper {
  border-bottom: 1px solid lightgray;
}

.intro {
  display: flex;
  justify-content: space-around;
  h3 {
    text-align: center;
    max-width: 1000px;
    color: #666;
    font-family: Open Sans;
    font-size: 20px;
    line-height: 30px;
  }
}

#wrapperesult {
  height: auto;       /* These two lines were the key. */
  min-height: 910px !important;
  margin-top: 100px !important;
  padding: 20px 70px;
}
