<div class="banner-all" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dgkabaqi8/image/upload/v1551271826/CommonGood/adult-bride-child-1250452.jpg)">
  <div class="banner-content">
    <h1>Be the Change The World Needs!</h1>
  </div>
</div>
