
<div class="banner calc-height" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dgkabaqi8/image/upload/v1551271826/handskidsandadult.jpg)" id="banner-home">

    <div class="banner-home-content">
      <h1>Common Good</h1>
      <p><strong>The best way to find your NGO</strong></p>
      <div class="search">
        <%= form_tag search_path, method: :get, class: "search-flex" do %>
          <%= text_field_tag :query,
          params[:query],
          class: "searchbar my-searchbar",
          placeholder: "Find your next volunteer program"
          %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
</div>
