<div class="wrapper" id="results">
    <div class="row">
      <% @missions.each do |mission| %>
        <% mission.photo.blank? %>
          <div class="col-xs-12 col-sm-6 col-md-4 centered">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
              <div class="card-description text-center">
                <h3><%= link_to mission.title.titleize, mission_path(mission) %></h3>
              </div>
              <div class="card-ratings">
              <% if mission.reviews.empty? %>
                <p>No rating</p>
              <% else %>
                 <i class="fas fa-star fa-sm"></i>
              <% end %>
              </div>
              <i class="far fa-heart" id="biglove"></i>
            </div>
          </div>
      <% end %>
    </div>
  </div>
