<div class="col-xs-12 col-sm-6 col-md-4 centered">
  <% if mission.photo.present? %>
    <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path mission.photo, height: 300, width: 400, crop: :fill %>')">
    </div>
  <% else %>
    <div class="card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1527499456709-838ffdcfee3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
    </div>
  <% end %>
  <div class="card-info">
    <p><%= link_to mission.title, mission_path(mission) %></p>
    <p><%= mission.city%>, <%= mission.country %></p>
    <p>No rating</p>
 <!--    <i class="far fa-heart" id="biglove"></i> -->
  </div>
</div>
