<div class="col-xs-12 col-sm-6 col-md-4 centered">
  <% if mission.photo.present? %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path mission.photo, height: 300, width: 400, crop: :fill %>')">
  <% else %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1536313243724-6dc3a26bee12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1625&q=80')">
  <% end %>
    <div class="card-description text-center">
      <h3><%= link_to mission.title, mission_path(mission) %></h3>
    </div>
    <div class="card-ratings">
    <% if mission.reviews.empty? %>
      <p>No rating</p>
    <% else %>
       <i class="fas fa-star fa-sm"></i>
    <% end %>
    </div>
    <i class="far fa-heart" id="biglove"></i>
  </div>
  <%= mission.sectors.pluck(:name).join('|') %>
  <%= mission.city %>
</div>

