<div class="col-12 col-sm-6 col-md-4 centered">
  <% if mission.photos.any? %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path mission.photo, height: 300, width: 400, crop: :fill %>')">
  <% else %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1527499456709-838ffdcfee3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')">
  <% end %>
    <div class="card-description text-center">
      <h3 id="card-titile-description"><%= link_to mission.title, mission_path(mission) %></h3>
    </div>
    <div class="card-ratings">
    <% if mission.reviews.empty? %>
      <p></p>
    <% else %>
       <i class="fas fa-star fa-sm"></i>
    <% end %>
    </div>
    <i class="far fa-heart" id="biglove"></i>
  </div>
</div>

