<%= render 'banner', organizations: @organizations %>

<div class="intro">
  <p>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission</p>
</div>

<%= render 'card', organizations: @organizations %>


<div class="wrap">
<!--  <div class="search">
   <input type="text" class="searchTerm" placeholder="What are you looking for?">
   <button type="submit" class="searchButton">
     <i class="fa fa-search"></i>
  </button>
</div> -->

  <div class="search">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "searchbar",
      placeholder: "What are you looking for?"
      %>
      <i class="fa fa-search"></i>
    <% end %>
  </div>
</div>
