<h1>Common Good</h1>
<h2>Yes</h2>


<% @missions.each do |mission| %>
<ul>
<<<<<<< HEAD
  <li><%= mission.organization%></li>
=======
  <li><%= organisation.title%></li>
>>>>>>> 7c0bf0d47c60a3eec09f36aa66d165f16b22b1d8
</ul>
<% end %>
