<div class="banner-principal" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550771298/bachelorama/celebration-colorful-colourful-1684187.jpg)">
    <div class="banner-content">
      <h1>Common Good</h1>
    </div>
    <div class= "navbar">
      <p>Navbar here</p>
    </div>
</div>


<% @missions.each do |mission| %>
<ul>
  <li><%= mission.title%></li>
</ul>
<% end %>

<%= render 'card', missions: @missions %>
