<%= render 'banner' %>

<div class="wrapper urgent">
  <div class="intro">
    <div class=".col-md-6 .col-md-offset-3">
      <h1>What we do; how we help you to find the perfect mission
      What we do; how we help you to find the perfect mission
      What we do; how we help you to find the perfect mission</h1>
    </div>
  </div>


  <div class="button-us">
    <div class="btn-container">
      <%= link_to "Add an association", new_organization_path(@organization), class: "thin-btn" %>
    </div>
  </div>

  <h1 class="divider"><span></span><span>They need you NOW</span><span></span></h1>

  <div class="row fake-cards">
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--       <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
   <!--  <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--  <h2>description description description description description description description description</h2> -->
    </div>
  </div>
</div>


<%= render 'banner-all' %>

<div class="wrapper trustyworth">
  <h1 class="divider"><span></span><span>Top trustyworth</span><span></span></h1>
  <div class="row fake-cards">
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--       <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
   <!--  <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--  <h2>description description description description description description description description</h2> -->
    </div>
  </div>
</div>

<div class="wrapper recent">
  <h1 class="divider"><span></span><span>Most recent</span><span></span></h1>
  <div class="row fake-cards">
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--       <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
   <!--  <h2>description description description description description description description description</h2> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 centered">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
        <div class="card-description text-center">
          <h3>Urgent Urgent</h3>
        </div>
        <div class="card-ratings">
          <p>No rating</p>
        </div>
        <i class="far fa-heart" id="biglove"></i>
      </div>
      <!--  <h2>description description description description description description description description</h2> -->
    </div>
  </div>

</div>

