<%= render 'banner', organizations: @organizations %>

<div class="intro">
  <p>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission
  <br>What we do; how we help you to find the perfect mission</p>
</div>

<%= render 'card', organizations: @organizations %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Common Good</h1>
      <h2>Yes</h2>
      <% @missions.each do |mission| %>
        <ul>
          <li><%= mission.title%></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
