<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dgkabaqi8/image/upload/v1551277349/slide-2.jpg');">
    <h1><%= @organization.name %></h1>
</div>

<div class="container">
  <div class="btn-container">
    <%= link_to "Add a mission", new_organization_mission_path(@organization), class: "thin-btn" %>
  </div>


  <div class="card-organization">
         <p><%= @organization.description %></p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non debitis unde, voluptate quibusdam hic sit quia modi aperiam voluptatum obcaecati, magni, sunt nulla. Nisi architecto consectetur quisquam velit dolorem.`
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non debitis unde, voluptate quibusdam hic sit quia modi aperiam voluptatum obcaecati, magni, sunt nulla. Nisi architecto consectetur quisquam velit dolorem.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non debitis unde, voluptate quibusdam hic sit quia modi aperiam voluptatum obcaecati, magni, sunt nulla. Nisi architecto consectetur quisquam velit dolorem.
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur non debitis unde, voluptate quibusdam hic sit quia modi aperiam voluptatum obcaecati, magni, sunt nulla. Nisi architecto consectetur quisquam velit dolorem.</p>
  </div>
</div>

<div class="container" style= "background-color: #f7b864">
  <div class="row">
    <!-- <div class="col-xs-12 col-sm-4"> -->
      <h1>Our Missions</h1>

  </div>
</div>


<!-- à faire voir les cartes et aussi les avatars staff et volontaires -->

