<body class="dashboardcg">
  <div class="container dashboard">
    <h1>Welcome, <%= current_user.username.capitalize %></h1>
    <p>Check out your previous applications:</p>

    <div class="dashboard-content">
      <%= render "list", missions: @mission_users %>
    </div>
  </div>

</body>



