<%= render 'banner' %>

<div class="container dashboard">
<!--   <div class="header">
    <h3>Applications</h3>
    <h3>Profile</h3>
  </div> -->
  <div class="dashboard-list">

    <h3>Pending applications:</h3>
    <% if @mission_users_pending == [] %>
      <p>None</p>
    <% else %>
      <%= render "list", missions: @mission_users_pending %>
    <% end %>

    <h3 class="list-block">Accepeted applications:</h3>
    <% if @mission_users_accepted == [] %>
      <p>None</p>
    <% else %>
      <%= render "list", missions: @mission_users_accepted %>
    <% end %>

    <h3 class="list-block">Declined applications:</h3>
    <% if @mission_users_declined == [] %>
      <p>None</p>
    <% else %>
      <%= render "list", missions: @mission_users_declined %>
    <% end %>


    <h3 class="list-block">Past applications:</h3>
    <p>None</p>

  </div>
</div>



