
<h2>Welcome, <%= current_user.username %>!</h2>
<h3>Recent applications:</h3>

<div class="dashboard-list">

  <p>Pending applications:</p>
  <%= render "list", missions: @mission_users_pending %>

  <p>Accepeted applications:</p>
  <%= render "list", missions: @mission_users_accepted %>


  <p>Declined applications:</p>
  <%= render "list", missions: @mission_users_declined %>


  <p>Past applications:</p>
  <p>None</p>

</div>



